@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import "nav.css";
@import "reset.css";
@import "top-header-box.css";

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  height: 500vh;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.flex {
  display: flex;
}
.bg-gray {
  background-color: rgb(31, 41, 55);
}
.bg-dark-blue {
  color: rgb(17, 24, 39);
}

.width-100vw {
  width: 100vw;
}
